{% extends 'base.html' %}
{% load staticfiles %}

{% block left_content %}
<!--文章列表开始-->
<div class="contentList">
    {% for question in question_all %}
    <div class="panel panel-default">
        <div class="panel-body">

            <h4><a class="title" href="{% url 'question_detail' %}?cid={{question.id}}">{{ question.title }}</a></h4>
            <p></p>
                {% for tag in question.tag.all %}
                <a class="label label-default">{{ tag.name}}</a>
                {% endfor %}
                <a class="label label-default">{{ question.level.name}}</a>
            </p>
            <p class="overView">{{ question.content | safe }}</p>
            <p><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">{{question.user.username}}</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:{{ question.count }}</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:{{ question.comment_set.all.count }}</span><span class="count"><i class="glyphicon glyphicon-time"></i>{{ question.date_publish }}</span></p>

        </div>
    </div>
    {% endfor %}
    <ul class="pager">
        {% if question_all.has_previous %}
        <li><a href="?page={{ question_all.previous_page_number }}">&laquo;上一页</a></li>
        {% else %}
        <li>&laquo;上一页</li>
        {% endif %}
        <li>{{ question_all.number }}/{{ question_all.paginator.num_pages }}</li>
        {% if question_all.has_next %}
        <li><a href="?page={{ question_all.next_page_number }}">下一页 &raquo;</a></li>
        {% else %}
        <li>下一页 &raquo;</li>
        {% endif %}
    </ul>
</div>
<!--文章列表结束-->
{% endblock %}